[mysqld]
basedir = /opt/app/mysql
datadir = /data/mysql/mysql
port = 3306
user = mysql
socket = /data/mysql/mysql/mysql.sock
#character_set_server = utf8
#collation_server = utf8_general_ci
skip_external_locking
skip_name_resolve
default_storage_engine = INNODB
max_allowed_packet = 1024M
connect_timeout = 30
transaction_isolation = REPEATABLE-READ
log_bin_trust_function_creators = on

character_set_client_handshake = FALSE
character_set_server = utf8mb4
collation_server = utf8mb4_general_ci
init_connect='SET NAMES utf8mb4'

# innodb
innodb_buffer_pool_size = 2G
innodb_log_file_size = 2G
innodb_log_buffer_size = 32M
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table = 1
innodb_open_files = 300
innodb_log_buffer_size = 16M
innodb_read_io_threads = 16
innodb_write_io_threads = 8
innodb_purge_threads = 4
innodb_flush_method = O_DIRECT
innodb_io_capacity = 2000
innodb_io_capacity_max = 6000
innodb_lru_scan_depth = 2000
innodb_thread_concurrency = 0
innodb_autoinc_lock_mode = 2

# Binary log/replication
log_bin = /data/mysql/binlog/mysql-bin
relay_log = /data/mysql/binlog/mysql-relay-bin
server_id = 1
log_slave_updates = 1
relay_log_purge = 1
binlog_cache_size = 2M
binlog_format = MIXED
sync_binlog = 1
expire_logs_days = 30

# show log
long_query_time = 2
slow_query_log = on
slow_query_log_file = /opt/app/mysql/logs/mysql-slow.log

# cache
back_log = 1024
key_buffer_size = 1024M
thread_stack = 256k
read_buffer_size = 8M
thread_cache_size = 64
max_heap_table_size = 256M
table_open_cache = 512
wait_timeout = 1814400
join_buffer_size = 1024M
sort_buffer_size = 8M
read_rnd_buffer_size = 8M

# connect
max_connect_errors = 100000
max_connections = 65536
net_read_timeout = 10800
net_write_timeout = 10800

explicit_defaults_for_timestamp=true
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER

[client]
port = 3306
socket = /data/mysql/mysql/mysql.sock

[mysqld_safe]
open_files_limit = 8192
